.head-cat-shop{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #646467;
    line-height: 1.5;
    margin-top: 1rem;
}
.category-shop-card{
    background-color: white;
    min-height: 50vh;
}
.cat-row p{
    line-height: 1.5;
    font-weight: 500;
}
.cat-row p span{
    color: #646467;
    font-weight: 400;
}